{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-prettier-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "no-empty-source": null,
    "no-descending-specificity": true,
    "scss/at-mixin-pattern": "^[a-z][A-Za-z]*$"
  }
}
