@import '~normalize.css';
@import 'assets/styles/variables';
@import 'assets/styles/fonts';
@import 'assets/styles/fontello';

$red: red;

:root {
  background-color: $red;

  --color-black: #000;
  --color-white: #FFF;
}
