@import './variables';

@mixin clearHr {
  margin: 0;
  border: none;
}

@mixin clearList {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin imgCenter {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@mixin dotDotDot($width) {
  max-width: $width;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Media request mixins MobileFirst
@mixin forTablet {
  @media screen and (min-width: 481px) {
    @content;
  }
}

@mixin forDesktopSm {
  @media screen and (min-width: 721px) {
    @content;
  }
}

@mixin forDesktopMiddle {
  @media screen and (min-width: 981px) {
    @content;
  }
}

@mixin forDesktopBig {
  @media screen and (min-width: 1281px) {
    @content;
  }
}

@mixin forDesktopHuge {
  @media screen and (min-width: 1441px) {
    @content;
  }
}
